<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop Commerce">
    <listeners>
        <listener class-name="Report.Listener"/>
    </listeners>
<!--<test name="Verify user is logged in">-->
<!--<parameter name="browserName" value="chrome"></parameter>-->
<!--<classes>-->
<!--    <class name="test.TestVerifyUserIsAbleToLogin"/>-->
<!--</classes>-->
<!--</test>-->

<!--<test name="Verify customer button is clcikable">-->
<!--<parameter name="browserName" value="chrome"></parameter>-->
<!--<classes>-->
<!--    <class name="test.VeirfyUserIsAbleSearchCustomer"/>-->
<!--</classes>-->
<!--</test>-->
<!--    <test name="Verify edit button is customer list page">-->
<!--<parameter name="browserName" value="chrome"></parameter>-->
<!--<classes>-->
<!--    <class name="test.VerifyEditButtonOnCustomerPage"/>-->
<!--</classes>-->
<!--</test>-->
    <test name="Verify edit button is customer list page">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.ReportTest"/>
        </classes>
    </test>
</suite>